@font-face {
  font-family: Playfair;
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

html {
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0px 10dvw;
  font-family: "Playfair", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.github,
.twitter,
.external,
.phone-icon,
.email-icon {
  width: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card-image {
  width: 100%; /* Image takes full width of its container */
  height: 300px;
  object-fit: cover; /* Maintains aspect ratio, crops excess parts */
}

.profile-image {
  position: relative;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0.5, 0.5, 0.7);
  justify-self: center;
  transform: translateY(8%);
}

.profile-name {
  transform: translateY(-100%) translateX(20%); /* Translate breaks with flex / different sizing */
  color: whitesmoke;
  font-size: 48px;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.top-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 500px;
  min-width: 250px;
  max-height: 300px;
  justify-self: center;
  align-self: center;
  flex: 1;
  word-wrap: break-word;
}

.top-card h1 {
  margin-bottom: 0;
}

.profile-image-container,
.top-card {
  flex: 1; /* This makes both elements take up equal space, probably going to rework */
}

.top-container {
  position: relative;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  gap: 10px;
  justify-content: center;
}

.top-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 450px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c224 C 57.6%2c192 172.8%2c80.2 288%2c64 C 403.2%2c47.8 460.8%2c150 576%2c143 C 691.2%2c136 748.8%2c4.4 864%2c29 C 979.2%2c53.6 1036.8%2c248 1152%2c266 C 1267.2%2c284 1382.4%2c148.4 1440%2c119L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c481 C 96%2c450 288%2c337.6 480%2c326 C 672%2c314.4 768%2c413.6 960%2c423 C 1152%2c432.4 1344%2c383 1440%2c373L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  z-index: -1;
}

.card-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-icons a,
.top-card a {
  text-decoration: none;
}

.top-icons {
  align-self: flex-end;
}

.bottom-container {
  color: whitesmoke;
  background-image: linear-gradient(to top, #ffffff, #0d1039);
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 500px;
  min-width: 250px;
  max-height: 600px;
  justify-self: center;
  align-self: flex-start;
  flex: 1;
}

.bottom-image {
  align-self: center;
  opacity: 20%;
  transition: opacity 100ms ease-in;
}

.bottom-image img {
  margin: 10px;
  max-width: 350px;
  border: 2px solid #1a2b4e;
  border-radius: 10px;
}

.bottom-image:hover {
  opacity: 100%;
}

.phone svg,
.email svg {
  fill: white;
}

.phone p,
.email p {
  margin: 0;
  font-size: 20px;
  align-self: center;
}

.phone,
.email {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-icons {
  margin-top: 20px;
}
